<template>
  <div class="row">
    <div class="col-4">

      <div class="card" style="cursor: pointer;">
        <div class="card-body">
          <h5 class="card-title">Surface temperature</h5>
          <strong class="temp-num"> 40  &#8451;</strong>
        </div>
      </div>


      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bot temperature</h5>
          <strong sty> 41  &#8451;</strong>
        </div>
      </div>

    </div>

    <div class="col">
      
      Stats and plot


    </div>
  </div>
</template>

<script>


export default {
  name: 'dashboard',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.temp-num{
font-size: 1.5em;
color: #333;
font-weight: 700;
line-height: 1;
}
</style>
