<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand">Hesys</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav mr-auto p-2">
          </div>
          <div class="navbar-nav">
            <button type="button" class="btn btn-success mx-2">ARRANQUE</button>
            <button type="button" class="btn btn-danger">PARADA</button>
          </div>
      </div>
  </nav>
</template>

<script>
export default {
  name: 'navbar',
};
</script>

<style scoped>
</style>
