<template>
  <div id="app">
    <div v-show="loading" class="loading">
      <i class="fa fa-circle-o-notch fa-spin" style="font-size:90px"></i>
    </div>
    <navbar v-if="isAuthenticated"></navbar>
    <main role="main" >
      <div class="container router-view-container">
        <router-view></router-view>
      </div>
    </main>
  </div>
</template>


<script>
import Navbar from './components/dashboard/Navbar.vue';

export default {
  name: 'App',
  components: {
    Navbar,
  },
  computed: {
    loading() {
      return false;
    },
    isAuthenticated() {
      return Boolean(true);
    },
  },
};
</script>


<style>

.loading {
  position: fixed;
  z-index: 999;
  width: 100px;
  height: 1em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.router-view-container {
  margin-top: 60px;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background:#DDDDDD;
}
</style>
